<h2><center>New post</center></h2>

<%= render "form", post: @post %>

<br>
<div class="container-fluid">
     
     <center>
                  <div class="action">
                  <%= link_to 'Back', posts_path, class: "btn btn-xs btn-success" %>
                  </div>
              </center>
   </div>
</div>
 

